*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  height: 450px;
}

:root {
  --background-color: white;
  --text-color: black;
}

body.light-theme {
  --background-color: white;
  --text-color: black;
}

body.dark-theme {
  --background-color: rgb(53, 53, 53);
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.main{
  /* background: aqua; */
  padding: 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
  display: flex;
  justify-content: center;
}

/* search  */

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px;
}

.search-section input {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 4px 0 0 4px;
  border: 1px solid #007BFF;
  outline: none;
}

.search-section input:focus {
  border-color: #007BFF;
}

.search-section .search-button {
  background-color: #007BFF;
  border: none;
  padding: 9px 15px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  transition: background-color 0.3s;
}

.search-section .search-button:hover {
  background-color: #0056b3;
}

.search-section .search-icon {
  color: white;
  font-size: 18px;
}

/* place  */
.place-name{
  display: flex;
  justify-content: center;
}
.place-name p{
  font-size: xx-large;
  font-weight: bolder;
}

/* main content  */
.main-output{
  margin: 40px;
}
.main-output p:first-child{
  font-size: xx-large;
}

/* date time  */
.date-time{
  color: rgb(135, 135, 135);
}

/* theme button  */
/* Light Theme */
.light-theme .theme-button button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.light-theme .theme-button button:hover {
  background-color: #5b5b5b;
}

/* Dark Theme */
.dark-theme .theme-button button {
  background-color: #616161;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-theme .theme-button button:hover {
  background-color: #525252;
}